<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veniam ex, commodi sint repellat, sapiente, culpa fuga provident nesciunt expedita placeat veritatis. Fugiat odit quaerat expedita voluptatum necessitatibus temporibus quos.
Eos reiciendis ipsum temporibus autem sit harum asperiores similique ipsa. Natus veritatis eos ab aspernatur totam iure earum rerum molestiae autem, velit debitis eius labore numquam tempora modi neque ut.
Autem numquam excepturi impedit, voluptatibus dolore deserunt dolorum veniam repellendus quod cumque ex aspernatur ipsam officiis harum ad aperiam rem exercitationem magnam enim cum suscipit porro ratione, ipsa temporibus! Quo.</p>